.content{
	width: 750px;
	height: 1334px;
	position: relative;
	margin: 0 auto;
}
.background{
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	font-size: 50px;
	font-family: [PingFang];
	color:#f6b37f;
	position: absolute;
	top:60px;
	left:60px; 
}
.left{
	width: 120px;
	height: 700px;
	position: absolute;
	left: 180px;
	top: 160px;
}
.mid{
	width: 120px;
	height: 700px;
	position: absolute;
	left: 390px;
	top: 160px;
}
.left button,.mid button,.right button{
	background:#e1e8f6;
	width: 120px;
    height: 40px;
    border-radius: 7px;
    margin-left: 5px;
	margin-bottom: 20px;
}
.left input,.mid input{
	margin-left: 5px;
	margin-bottom: 20px;
}
.right{
	color:red;
}
.right{
	width: 150px;
	height: 660px;
	position: absolute;
	top: 210px;
	left: 580px;
}
.right input{
	margin-left: 5px;
	margin-bottom: 20px;
}
input{
	width: 120px;
	height: 40px;
	border-radius: 7px;
	border: 0;
}
.aabb{
	width: 120px;
	height: 40px;
	border-radius: 7px;
	color: #000;
	text-align: center;
	font-size: 38px;
	font-weight:bold;
}
.choose{
	width: 120px;
	height: 150px;
	margin-left: 5px;
	margin-top: 80px;
	text-align: center;
}
.choose>span{
	color: #fFF;
	font-size: 36px;
	margin-top: 5px;
	margin-left: 5px;
}
.bottom{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom:300px;
	color: #e1e8f6;
	font-size: 36px;
	font-family: 宋体；
}
.star{
	color:#f6b37f;
}
#num{
	font-size: 36px;
}
.finish{
	width: 550px;
	height: 100px;
	background-color: #f6b37f;
	position: absolute;
	bottom: 150px;
	left: 100px;
	color: #000;
	font-size: 50px;
	font-family: Adobe 黑体 Std;
}